.idea/
.nyc_output/
.vscode/
coverage/
docs/
package/
src/

package-lock.json
tsconfig.json

rollup.config.js

*.tgz
*.log

*.spec.js
*.spec.d.ts
*.spec.js.map

*.fixture.js
*.fixture.d.ts
*.fixture.js.map
